<!DOCTYPE html>
<html>
<head>
    <title>Neduet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="application/javascript" src="dynamicTable.js"></script>
    <script type="application/javascript" src="dataSubmit.js"></script>
</head>
<body>

<div class="container">

    <h2 align="center">NED University of Engineering and Technology</h2>
    <h3 align="center">NED University Student Activity and Mobility Data 2019-2020</h3>
    <form  id="customerForm">
        <h4>BASIC INFORMATION</h4>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName">
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" id="department">
        </div>
        <div class="form-group">
            <label for="rollNo">Roll No (eg: EE-16017)</label>
            <input type="text" class="form-control" id="rollNo">
        </div>
        <div class="form-group">
            <label for="year">Year of Study (eg: Second Year, or graduated in 2019) </label>
            <input type="text" class="form-control" id="year">
        </div>
        <div class="form-group">
            <label for="date">Date (eg. 02 April 2020)</label>
            <input type="text" class="form-control" id="date">
        </div>
        <h5>PLEASE READ INSTRUCTIONS BEFORE FILING</h5>
        <ul>
            <li>Please note that this data will be stored in University Records, and will be used for Annual Reports, Nominations of Awards etc.</li>
            <li>It is strongly advised that it is filled diligently and carefully. Evidence or supporting documents if needed will be requested later.</li>
            <li>Last date of submission is Friday, 10th April 2020.</li>
        </ul>
        <br><br>
        <h5 style="color:red;text-decoration: underline;">DATA TO BE FILLED BETWEEN  1ST JULY 2019 TILL 30TH MARCH 2020</h5>
        <br><br>
        <h5 style="text-decoration: underline;">A. Participation in Curricular, Co-Curricular and Sports Events and Competitions <font color="red">(other than NED University)</font></h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table1">
                <thead>
                <tr >
                    <th></th>
                    <th class="text-center">Competition Title</th>
                    <th class="text-center">Event Participated in (eg: Circuit Design etc.)</th>
                    <th class="text-center">Organizing Body or University</th>
                    <th class="text-center">&nbsp&nbsp&nbspCountry&nbsp&nbsp&nbsp</th>
                    <th class="text-center">Names of all team Members for example (Ms. Tania Kareem, Automotive Engineering Mr. Bahram Honory, Chemical Engineering etc.)</th>
                    <th class="text-center">Event Date (MMM-YYYY) (eg. Aug-2019)</th>
                    <th class="text-center">Award/Position Won</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type='checkbox' name='chk' disabled/></td>
                    <td><input type="text" class="form-control" required/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="button" id="add-row" value="Add Row"> <input type="button" id="del-row" value="Delete Row"><br><br>

        <h5 style="text-decoration: underline;">B. International Student Mobility and Exchange</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table2">
                <thead>
                <tr >
                    <th></th>
                    <th class="text-center">University visited</th>
                    <th class="text-center">Programme attended</th>
                    <th class="text-center">&nbsp&nbsp&nbsp&nbspCity&nbsp&nbsp&nbsp&nbsp</th>
                    <th class="text-center">&nbsp&nbsp&nbspCountry&nbsp&nbsp&nbsp</th>
                    <th class="text-center">Duration of stay</th>
                    <th class="text-center">Starting Date (MMM-YYYY) eg. Aug-2019)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type='checkbox' name='chk' disabled/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                    <td><input type="text" class="form-control"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="button" id="add-row-t2" value="Add Row"> <input type="button" id="del-row-t2" value="Delete Row"><br><br>

        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>

</div>

</body>
</html>